# data and result files
**/results/
**/data/
**/plots*/
**/gifs*/

# intermediate data files
**/*.mat

# log files
**/output_files/
**/logs/

# programming aux files
**/__pycache__/
**/*egg-info/
**/.Rhistory
**/.Rprofile
**/.vscode/
**/.ropeproject

# deprecated scripts
**/deprecated/
